/*------------------------------------------------------------------
Overrides custom theme.css
-------------------------------------------------------------------*/
:root {
    --primary: #ebf0c7;
    --primary_rgb: 235, 240, 199;
    --primary_hover: #b6b99b;
    --secondary: #213e03;
    --secondary_rgb: 33, 62, 3;
    --secondary_hover: #0b1401;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary_hover);
}

/* SCROLL BARS */
/* Mozilla ScrollBar */
* {
    scrollbar-color: var(--primary) #f5f5f5;
    scrollbar-width: thin;
}
/* Chrome Scrollbar */
*::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--primary);
}
/* END SCROLL BARS */

/* OTHERS */
.btn-default {
    color: #ffffff;
    background: var(--primary);
}

.btn-default:hover {
    color: #ffffff;
    background: var(--primary_hover);
}

.cursor-pointer:hover {
    cursor: pointer;
}

.back-link {
    color: var(--primary);
}

.back-link:hover {
    color: var(--primary_hover);
}

.close-link {
    color: var(--primary);
}

.close-link:hover {
    color: var(--primary_hover);
}

.delete-link {
    color: #ff0000;
}

.delete-link:hover {
    color: var(--primary);
}

.error-message {
    color: #ff0000;
    font-size: 13px;
}

.status {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 30px;
    padding: 0 14px;
}

.status-success {
    background: #63c76a;
}
.status-warning {
    background: var(--primary);
}
.status-type-1 {
    background: #4272d7;
}
.status-type-2 {
    color: #000000;
    background: #eec614;
}
/* END OTHERS */

/* PAGINATE STYLES */
.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-link {
    color: var(--primary);
}

.page-link:hover {
    color: var(--primary_hover);
}
/* END PAGINATE */

/* FORMS STYLES */
.form-control:focus {
    border-color: rgba(var(--primary_rgb), 0.5);
    box-shadow: 0 0 0 0.2rem rgba(var(--primary_rgb), 0.25);
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary_rgb), 0.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primary);
    background-color: var(--primary);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(var(--primary_rgb), 0.25);
}
/* CUSTOM SELECT2 */
.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 38px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 36px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    border-radius: 2px;
}
.select2-dropdown {
    border: 1px solid #ced4da;
    border-radius: 2px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    border-radius: 2px;
    color: #495057;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #495057;
}
.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background: var(--primary);
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 2px;
    height: 38px;
}
.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: 1px solid #ced4da;
}
/* END SELECT2 */
/* END FORMS */

/* SCROLL TOP */
.scroll {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #000;
    height: 45px;
    width: 45px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    z-index: 1035;
    background: var(--primary);
    transition: all 0.3s ease-in-out;
}

.scroll:hover,
.scroll:active,
.scroll:focus {
    background: var(--primary);
}

.scroll .material-icons {
    font-size: 2rem;
    line-height: 44px;
}
/* --- */
/* NAVBAR */
.navbar-default {
    border-bottom: 2px solid var(--primary_hover);
}
.navbar-right a {
    margin-right: 75px;
    font-size: 20px;
}
/* END NAVBAR */
/* ICONS */
i {
    color: var(--secondary);
    font-size: x-large;
}
i:hover {
    color: var(--secondary_hover);
    font-size: x-large;
}
.input-icon {
    float: right;
    position: relative;
    margin: -55px 15px 0 0;
    cursor: pointer;
}
/* END ICONS */
/* SIDEBAR */
.sidebar-default {
    height: 100%;
    width: 160px;
    position: fixed;
    overflow-x: hidden;
}
.components li a {
    color: black;
}
.active {
    color: black;
    font-weight: bold;
}
.components2 li {
    margin-bottom: 15px;
}
.components2 li a {
    color: var(--secondary);
}
.components2 li a:hover {
    color: var(--secondary_hover);
}
.components2 i {
    font-size: medium;
    margin-right: 5px;
    margin-left: 3px;
}
.bg-active {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 3px;
}
.bg-active i {
    margin-left: 3px;
    margin-right: 3px;
}
/* END SIDEBAR*/

/* CARD */
.custom-shadow {
    border: 1px solid;
    border-color: rgba(var(--primary_hover), 0.5);
    box-shadow: 1px 1px 5px black;
}
.card-custom {
    border-bottom: 3px solid grey;
}
/* END CARD */
/* TITLES  */
.h4-default {
    color: var(--secondary);
    margin-left: 200px;
}
.h4-custom {
    border-bottom: 2px solid var(--primary);
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: var(--secondary);
}
.h5-default {
    color: var(--secondary);
    border-bottom: 2px solid var(--primary);
}
.h6-custom {
    color: black;
    text-align: center;
}
.h6-default {
    color: black;
    text-align: left;
}
/* END TITLES  */

/* FORM LABELS */
.form-group-custom label {
    color: var(--secondary);
}
/* END FORM LABELS */
/* BUTTON */
.btn-custom {
    color: var(--primary);
    border-radius: 20px;
    background-color: var(--secondary);
    margin-bottom: 25px;
    margin-right: 25px;
}
.btn-custom:hover {
    color: var(--primary);
    border-radius: 20px;
    background-color: var(--secondary_hover);
}
/* END BUTTON */
/* FOOTER */
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--secondary);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    min-height: 40px;
}
.img-footer {
    margin: 0 auto;
    display: block;
}
/* END FOOTER */
/* DROPDOWN */
.dropdown-custom .dropdown-toggle::after {
    content: none !important;
}
.dropdown-menu-custom {
    border: 0;
    margin-right: 150px;
}
.dropdown-menu-custom a {
    color: var(--secondary);
    font-size: medium;
    margin-right: 20px;
}
.dropdown-menu-custom .h6 {
    color: var(--secondary);
    margin-left: 5px;
}
.dropdown-divider-custom {
    border-color: var(--primary);
    margin-left: 15px;
    margin-right: 15px;
}
/* END DROPDOWN */
/* INPUT SEARCH-SAVE */
.container-input-custom {
    background: var(--primary);
    border-radius: 30px;
    margin-right: 150px;
}
.input-custom {
    background: var(--primary);
    border: 0;
    color: var(--secondary);
    width: 600px;
}
.input-custom::placeholder {
    color: var(--secondary);
}
.input-custom:focus {
    outline: none;
}
.btn-input-custom1 {
    background: #69bb12;
    color: var(--secondary_hover);
    border: 1px solid var(--secondary_hover);
    border-radius: 20px;
}
.btn-input-custom1:hover {
    background: var(--secondary_hover);
    color: #69bb12;
    border: 1px solid #69bb12;
    border-radius: 20px;
}
.btn-input-custom2 {
    background: white;
    color: var(--secondary_hover);
    border: 1px solid var(--secondary_hover);
    border-radius: 20px;
}
.btn-input-custom2:hover {
    background: var(--secondary_hover);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
/* END INPUT SEARCH-SAVE */

/* CARD ITEMS */
.results {
    margin-left: 200px;
}
.card-items {
    border: 0;
    border-bottom: 2px solid grey;
    width: 200px;
}
.card-items .card-block {
    padding: 0;
}
.card-items .items-icons {
    text-align: right;
}
.card-items i {
    font-size: small;
    margin-right: 4px;
}
/* END CARD ITEMS */
