/*------------------------------------------------------------------
Login, Recover, change and validate CSS template
-------------------------------------------------------------------*/
.page-wrapper {
    overflow: hidden;
}

.login-content {
    height: 100%;
}

.login-bg {
    background-image: url("../img/logotipo_66.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 300px;
}
/* H5 */
.h5-custom {
    color: var(--secondary);
}
/*END H5 */

.recover a {
    color: var(--secondary);
}
.recover a:hover {
    color: var(--secondary_hover);
}

.btn-default {
    border-radius: 20px;
    background-color: var(--secondary);
}
.btn-default:hover {
    border-radius: 20px;
    background-color: var(--secondary_hover);
}
.form-control-custom {
    margin-bottom: 25px;
    border-color: var(--secondary);
    border-radius: 20px;
}

/* CARD */
.card-custom {
    border: 3px solid var(--primary);
    margin-bottom: 25px;
    text-align: center !important;
}
/* END CARD */
